{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<h1><b>Admin Dashboard</b></h1>
<br>
<div>
    <h2> Users Management </h2>
    <hr>
    <table class="table">
        <thead class="table-primary table-responsive">
            <th>Name</th>
            <th>Username</th>
            <th>Email Address</th>
            <th>Is Active</th>
            <th>Is Admin</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.firstname }} {{ user.lastname }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }} </td>
                <td>{% if user.is_active: %}
                    Yes {% else %} No
                    {% endif %}
                </td>
                <td>{% if user.is_admin: %}
                    Yes {% else %} No
                    {% endif %}
                </td>
                <td> | 
                    {% if user.is_active: %}
                    <a href="{{ url_for('admin-users.deactivate_user', id=user.id) }}">Deactivate</a> | {% else %}
                    <a href="{{ url_for('admin-users.activate_user', id=user.id) }}">Activate</a> |
                    {% endif %}

                    <a href="{{ url_for('admin-users.delete_user', id=user.id) }}">Delete</a> | 
                    <a href="{{ url_for('admin-users.update_user', id=user.id) }}">Update</a> | 

                    {% if user.is_admin: %}
                    <a href="{{ url_for('admin-users.remove_admin', id=user.id) }}">Remove Admin</a>
                    {% else %}
                    <a href="{{ url_for('admin-users.make_admin', id=user.id) }}">Make Admin</a> |
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}