{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <a href="/#all-articles-list" class="btn btn-outline-primary">Back to Article List</a>
    <a href="{{ url_for('user.dashboard', un=current_user.username) }}" class="btn btn-outline-primary">Your Dashboard</a>
    <br><br>

        <h2>Edit Your Article</h2>

        <br><br>
        <div class="container form-group">
            <form class="row g-3" action="{{ url_for('article.edit', id=article.id) }}" method="POST">
                <div class="row">{{ form.hidden_tag() }}</div>
                <div class="row">
                    {{ form.title.label(class="form-label", style="font-weight:bold; font-size:18px") }}
                    {{ form.title(class="row form-control shadow p-2 mb-5 bg-body rounded border border-primary") }}
                </div>
                <div class="row">
                    {{ form.content.label(class="form-label", style="font-weight:bold; font-size:18px") }}
                    <div class="row form-control shadow p-2 mb-5 bg-body rounded border border-primary">
                        {{ form.content }}
                    </div>
                </div>
                <div class="form-check">
                    {{ form.is_draft.label(class="form-check-label", for="flexCheckDefault") }}
                    {{ form.is_draft(class="form-check-input shadow p-2 rounded border border-primary", type="checkbox", id="flexCheckDefault") }}
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    {{ form.submit(class="btn btn-outline-primary" , style="font-weight:bold; font-size:18px") }}
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}