{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<h1><b>Dashboard</b></h1>
<br>
<div>
    <a href="/#jump-to-articles-list" class="btn btn-outline-primary mb-1 border border-primary">Back to Articles List</a>
    <a href="{{ url_for('article.create_article') }}" class="btn btn-outline-primary mb-1 border border-primary">Create
        Article</a>
    <a href="#jump-to-your-articles-list" class="btn btn-outline-primary mb-1 border border-primary">Your Articles List</a>
</div>
<br><br>
<div>
    <div>
        <h2>Your Profile</h2>
        <hr>
        <strong>Name:</strong> {{ user.firstname }} {{ user.lastname }} <br>
        <strong>Username:</strong> {{ user.username }} <br>
        <strong>Email:</strong> {{ user.email }} <br>
        <strong>Join Date:</strong> {{ user.date_joined.strftime('%Y-%m-%d %I:%M %p') }} <br>
        {% if user.is_admin %}
        <strong>Admin:</strong>Yes
        {% else %}
        <strong>Admin: </strong>No
        {% endif %} <br>
        <strong>About Author:</strong> {{ user.about_author }}
    </div>
    <br> 
    <div>
        <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-primary mb-1 border border-primary">Logout</a>
        <a href="{{ url_for('user.update_user', id=user.id) }}" class="btn btn-outline-primary mb-1 border border-primary">Update
            Profile</a>
        <a href="{{ url_for('user.deactivate_user', id=user.id) }}" class="btn btn-outline-danger mb-1 border border-danger">Deactivate
            Profile</a>
    </div>
    <br id="jump-to-your-articles-list"><br>
</div>
<br>

<script src="{{ url_for('static', filename='script.js') }}"></script>

<div>
    <h2>Your Articles</h2>
    <hr>
    <div class="articles-container">
        <!-- Tab Links -->
        <div class="nav nav-tabs nav-fill">
            <button class="tablink" onclick="openPage('Published', this, 'rgb(2, 117, 216)', 'white')"><b>Published</b></button>
            <button class="tablink" onclick="openPage('Draft', this, 'rgb(2, 117, 216)', 'white')"><b>Saved As Draft</b></button>
        </div>

        <!-- Tab Contents for Published Articles -->
        <div id="Published" class="tabcontent">
            <h6><b>Published Articles</b></h6>
            <div class="shadow p-3 mb-5 bg-body rounded border border-primary" style="height: auto">
                {% for article in articles %}
                {% if article.author_id == current_user.id %}
                {% if not article.is_draft: %}
                <div class="card border-primary mb-3">
                    <small class="card-header">
                        <strong>Author:</strong> {{ article.author.firstname }} {{ article.author.lastname }}
                        | <strong>Date:</strong> {{ article.date_posted.strftime('%Y-%m-%d %I:%M %p') }}
                        | <strong>Status:</strong>
                        {% if article.is_draft %}
                        Saved as Draft
                        {% else %}
                        Published
                        {% endif %}
                    </small>
                    <div class="card-body">
                        <h4 class="card-title"><a class="fs-5 text-decoration-none" href="{{ url_for('article.view_article', id=article.id) }}">{{ article.title }}</a></h4>
                        <div>
                            <p class="card-text">{{ article.content | striptags() | truncate(255) }}</p>
                        </div><br>
                        <div>
                            <a href="{{ url_for('article.view_article', id=article.id) }}"
                                class="btn btn-outline-primary border border-primary">Read
                                Article</a>
                            {% if current_user.is_authenticated and article.author_id == current_user.id %}
                            <a href="{{ url_for('article.edit_article', id=article.id) }}"
                                class="btn btn-outline-primary border border-primary">Edit
                                Article</a>
                            <a href="{{ url_for('article.delete_article', id=article.id) }}"
                                class="btn btn-outline-danger border border-danger">Delete Article</a>
                            {% endif %}
                            <small class="float-end">
                                {% for comment in comments %}
                                {% if comment.article_id == article.id %}
                                {% if comment.count > 1 %}
                                {{ comment.count }} comments
                                {% else %}
                                {{ comment.count }} comment
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </small>
                        </div>
                    </div>
                </div>
                <br>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- Tab Contents for Saved As Draft Articles -->
        <div id="Draft" class="tabcontent">
            <h6><b>Saved As Draft</b></h6>
            <div class="shadow p-3 mb-5 bg-body rounded border border-primary" style="height: auto">
                {% for article in articles %}
                {% if article.author_id == current_user.id %}
                {% if article.is_draft: %}
                <div class="card border-primary mb-3">
                    <small class="card-header">
                        <strong>Author:</strong> {{ article.author.firstname }} {{ article.author.lastname }}
                        | <strong>Date:</strong> {{ article.date_posted.strftime('%Y-%m-%d %I:%M %p') }}
                        | <strong>Status:</strong>
                        {% if article.is_draft %}
                        Saved as Draft
                        {% else %}
                        Published
                        {% endif %}
                    </small>
                    <div class="card-body">
                        <h4 class="card-title"><a class="fs-5 text-decoration-none" href="{{ url_for('article.view_article', id=article.id) }}">{{ article.title }}</a></h4>
                        <p class="card-text">{{ article.content | striptags() | truncate(255) }}</p>
                        <div><br>
                            {% if current_user.is_authenticated %}
                            {% if article.author_id == current_user.id %}
                            <a href="{{ url_for('article.edit_article', id=article.id) }}"
                                class="btn btn-outline-primary border border-primary">Edit
                                Article</a>
                            <a href="{{ url_for('article.delete_article', id=article.id) }}"
                                class="btn btn-outline-danger border border-danger">Delete Article</a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <br>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <a href="/#jump-to-articles-list" class="btn btn-outline-primary mb-1 border border-primary">Back to Articles List</a>
        <a href="{{ url_for('article.create_article') }}" class="btn btn-outline-primary mb-1 border border-primary">Create
            Article</a>
    </div>
</div>


{% endblock content %}