{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="form-group">
    <div class="form-group">
        <h2 style="font-weight:bold">Change Your Password</h2>
    </div>
    <br>
    <form class="row g-3" action="{{ url_for('auth.change_password') }}" method="POST">
        <div class="row">{{ form.hidden_tag() }}</div>
        <div class="col-md-6"><br>
        <h6><b>Username:</b> {{ current_user.username }}</h6>
        <h6><b>Email:</b> {{ current_user.email }}</h6>
        </div>
        <div class="col-md-6">
            {{ form.hidden_tag() }}
            {{ form.old_password.label(class="form-label", style="font-weight:bold; font-size:18px") }}
            <span class="text-danger">*</span>
            {{ form.old_password(class="form-control shadow p-2 mb-3 bg-body rounded border border-primary") }}
            {% for error in form.old_password.errors %}
            <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {{ form.new_password.label(class="form-label", style="font-weight:bold; font-size:18px") }}
            <span class="text-danger">*</span>
            {{ form.new_password(class="form-control shadow p-2 mb-3 bg-body rounded border border-primary") }}
            {% for error in form.new_password.errors %}
            <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {{ form.confirm_new_password.label(class="form-label", style="font-weight:bold; font-size:18px") }}
            <span class="text-danger">*</span>
            {{ form.confirm_new_password(class="form-control shadow p-2 mb-3 bg-body rounded border border-primary") }}
            {% for error in form.confirm_new_password.errors %}
            <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="d-grid gap-2 col-3 mx-auto">
            {{ form.submit(class="btn btn btn-outline-primary", style="font-weight:bold; font-size:18px") }}
        </div>
    </form>
</div>

{% endblock content %}