{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="form-group">
	<div class="form-group">
		<h2 style="font-weight:bold">Register An Account</h2>
	</div>
	<br>
	<form class="row g-3" action="{{ url_for('auth.sign_up') }}" method="POST">
		<div class="row">{{ form.hidden_tag() }}</div>
		<div class="col-md-6">
			{{ form.hidden_tag() }}
			{{ form.firstname.label(class="form-label", style="font-weight:bold; font-size:18px") }}
			{{ form.firstname(class="form-control shadow p-2 mb-3 bg-body rounded border border-primary") }}
		</div>
		<div class="col-md-6">
			{{ form.lastname.label(class="form-label", style="font-weight:bold; font-size:18px") }}
			{{ form.lastname(class="form-control shadow p-2 mb-3 bg-body rounded border border-primary") }}
		</div>
		<div class="col-md-6">
			{{ form.username.label(class="form-label", style="font-weight:bold; font-size:18px") }}
			{{ form.username(class="form-control shadow p-2 mb-3 bg-body rounded border border-primary") }}
			{% for error in form.username.errors %}
			<small>{{ error }}</small>
			{% endfor %}
		</div>
		<div class="col-md-6">
			{{ form.email.label(class="form-label", style="font-weight:bold; font-size:18px") }}
			{{ form.email(class="form-control shadow p-2 mb-3 bg-body rounded border border-primary") }}
		</div>
		<div class="col-md-6">
			{{ form.password.label(class="form-label", style="font-weight:bold; font-size:18px") }}
			{{ form.password(class="form-control shadow p-2 mb-3 bg-body rounded border border-primary") }}
			{% for error in form.password.errors %}
			<small text-color="red">{{ error }}</small>
			{% endfor %}
		</div>
		<div class="col-md-6">
			{{ form.confirm_password.label(class="form-label", style="font-weight:bold; font-size:18px") }}
			{{ form.confirm_password(class="form-control shadow p-2 mb-3 bg-body rounded border border-primary") }}
			{% for error in form.confirm_password.errors %}
			<br>
			<small>{{ error }}</small>
			{% endfor %}
		</div>
		<div class="row-cols-auto">
			{{ form.about_author.label(class="form-label", style="font-weight:bold; font-size:18px") }}
			{{ form.about_author(class="form-control shadow p-2 mb-3 bg-body rounded border border-primary") }}
		</div>
		<div class="d-grid gap-2 col-3 mx-auto">
			{{ form.submit(class="btn btn btn-outline-primary border border-primary", style="font-weight:bold; font-size:18px") }}
		</div>
		<div class="form-group text-center">
            <small>
                Already have an account? <a href="{{url_for('auth.login')}}" style="text-decoration:none"><strong>Login</strong></a>
            </small>
        </div>
	</form>
</div>

{% endblock content %}