{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div>
        <a href="/#all-articles-list" class="btn btn-outline-primary">Back to Article List</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('user.dashboard', un=current_user.username) }}" class="btn btn-outline-primary">Your
            Dashboard</a>
        {% endif %}
        <br><br>
    </div>
    <div>
        <h2><b>Authors List</b></h2>
    </div>

    <!-- Top Pagination Area -->
    {% if authors_details.total > 0 %}
    <nav aria-label="Page navigation example">

        <!-- Pagination Buttons -->
        <div class="pagination justify-content-center mb-3">
            <li class="page-item">
                {% if prev_page %}
                <a class="page-link" href="{{ prev_page }}">Prev</a>
                {% else %}
                <a class="page-link disabled" href="{{ prev_page }}">Prev</a>
                {% endif %}
            </li>
            {% for page in authors_details.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
            {% if page %}
            {% if page != authors_details.page %}
            <li class="page-item">
                <a href="{{ url_for('general.authors', page=page) }}" class="page-link">{{ page }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <strong class="page-link disabled bg-primary text-light">{{ page }}</strong>
            </li>
            {% endif %}
            {% else %}
            <li class="page-item"><span class="ellipsis page-link disabled">...</span></li>
            {% endif %}
            {% endfor %}
            <li class="page-item">
                {% if next_page %}
                <a class="page-link" href="{{ next_page }}">Next</a>
                {% else %}
                <a class="page-link disabled" href="{{ next_page }}">Next</a>
                {% endif %}
            </li>
        </div>

        <!-- Pagination Info -->
        <center>
            <small>
                <p>
                    displaying {{ ((authors_details.page - 1) * authors_details.per_page) + 1 }}
                    {% if authors_details.total > authors_details.per_page %}
                    {% if (authors_details.page * authors_details.per_page) > authors_details.total %}
                    - {{ authors_details.total }} of {{ authors_details.total }} Authors
                    {% else %}
                    - {{ authors_details.page * authors_details.per_page }} of {{ authors_details.total }} Authors
                    {% endif %}
                    {% else %}
                    {% if authors_details.total > 1 %}
                    - {{ authors_details.total }} of {{ authors_details.total }} Authors
                    {% else %}
                    Author
                    {% endif %}
                    {% endif %}
                </p>
            </small>
        </center>
    </nav>
    {% endif %}

    <div class="row">
        {% for author in authors_details.items %}
        <div class="col-sm-6 card border-secondary">
            <div class="card-header">
                <h4><b><a href="{{ url_for('general.author', id=author.id) }}">{{ author.firstname }} {{ author.lastname }}</a></b></h4>
            </div>
            <div class="row card-body">
                <div class="col-4">
                    {% if author.profile_pic %}
                    <img src="{{ url_for('static', filename='images/profile_pic/' + author.profile_pic)}}"
                        class="float-right img-thumbnail border-primary" width="200">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/default_profile_pic.png')}}"
                        class="float-right img-thumbnail border-primary" width="200">
                    {% endif %}
                </div>
                <div class="col-8">
                    <div>
                        <strong>Name:</strong><br> {{ author.firstname }} {{ author.lastname }} <br>
                        <strong>Email:</strong><br> {{ author.email }} <br>
                        <strong>Articles:</strong>
                        {% if author.articles_count < 1 %}
                        None <br>
                        {% else %}
                        {{ author.articles_count }} <br>
                        {% endif %}
                        <strong>Bio:</strong> {{ author.bio }} <br>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>

    <!-- Top Pagination Area -->
    {% if authors_details.total > 0 %}
    <nav aria-label="Page navigation example">

        <!-- Pagination Info -->
        <center>
            <small>
                <p>
                    displaying {{ ((authors_details.page - 1) * authors_details.per_page) + 1 }}
                    {% if authors_details.total > authors_details.per_page %}
                    {% if (authors_details.page * authors_details.per_page) > authors_details.total %}
                    - {{ authors_details.total }} of {{ authors_details.total }} Authors
                    {% else %}
                    - {{ authors_details.page * authors_details.per_page }} of {{ authors_details.total }} Authors
                    {% endif %}
                    {% else %}
                    {% if authors_details.total > 1 %}
                    - {{ authors_details.total }} of {{ authors_details.total }} Authors
                    {% else %}
                    Author
                    {% endif %}
                    {% endif %}
                </p>
            </small>
        </center>
    
        <!-- Pagination Buttons -->
        <div class="pagination justify-content-center mb-3">
            <li class="page-item">
                {% if prev_page %}
                <a class="page-link" href="{{ prev_page }}">Prev</a>
                {% else %}
                <a class="page-link disabled" href="{{ prev_page }}">Prev</a>
                {% endif %}
            </li>
            {% for page in authors_details.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
            {% if page %}
            {% if page != authors_details.page %}
            <li class="page-item">
                <a href="{{ url_for('general.authors', page=page) }}" class="page-link">{{ page }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <strong class="page-link disabled bg-primary text-light">{{ page }}</strong>
            </li>
            {% endif %}
            {% else %}
            <li class="page-item"><span class="ellipsis page-link disabled">...</span></li>
            {% endif %}
            {% endfor %}
            <li class="page-item">
                {% if next_page %}
                <a class="page-link" href="{{ next_page }}">Next</a>
                {% else %}
                <a class="page-link disabled" href="{{ next_page }}">Next</a>
                {% endif %}
            </li>
        </div>
    
    </nav>
    {% endif %}
    
</div>


{% endblock content %}