{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<a href="/#jump-to-articles-list" class="btn btn-outline-primary border border-primary">Back to Articles List</a>
{% if current_user.is_authenticated %}
<a href="{{ url_for('article.create_article') }}" class="btn btn-outline-primary border border-primary">Create an Article</a>
{% endif %}
<br><br>

<div class="container">
    <div class="row" >
        <h2 style="font-weight:bold">Contact</h2>
    </div>
    <div class="row">
        <div class="form-group col-6">
            <p>We would love to hear from you! <br> You can contact us using the form below:</p>
            <form class="row g-3" action="{{ url_for('general.message') }}" method="POST">
                <div class="row">{{ form.hidden_tag() }}</div>
                <div class="col-md-6">
                    {{ form.name.label(class="form-label", style="font-weight:bold; font-size:18px") }}
                    {{ form.name(class="form-control shadow p-2 mb-3 bg-body rounded border border-primary") }}
                </div>
                <div class="col-md-6">
                    {{ form.email.label(class="form-label", style="font-weight:bold; font-size:18px") }}
                    {{ form.email(class="form-control shadow p-2 mb-3 bg-body rounded border border-primary") }}
                </div>
                <div class="row-cols-auto">
                    {{ form.message.label(class="form-label", style="font-weight:bold; font-size:18px") }}
                    {{ form.message(class="form-control shadow p-2 mb-3 bg-body rounded border border-primary") }}
                </div>
                <div class="d-grid gap-2 col-3 mx-auto">
                    {{ form.submit(class="btn btn btn-outline-primary border border-primary") }}
                </div>
            </form>
        </div>
        <div class="col" >
            <p>You can also follow or contact me through any of the platforms below:</p>
            <ul>
                <li><a href="mailto:gregory.ogbemudia@gmail.com.com" target="_blank" style="text-decoration:none">Email</a></li>
                <li><a href="https://linkedin.com/in/OSQUAREG/" target="_blank" style="text-decoration:none">LinkedIn</a></li>
                <li><a href="https://github.com/OSQUAREG" target="_blank" style="text-decoration:none">GitHub</a></li>
                <li><a href="https://web.facebook.com/OSQUAREG/" style="text-decoration:none">Facebook</a></li>
                <li><a href="https://instagram.com/OSQUAREG/" target="_blank" style="text-decoration:none">Instagram</a></li>
                <li><a href="https://twitter.com/OSQUAREG/" target="_blank" style="text-decoration:none">Twitter</a></li>
                <li><a href="https://t.me/OSQUAREG/" target="_blank" style="text-decoration:none">Telegram</a></li>
            </ul>
            <br>
        </div>
    </div>
</div>


{% endblock content %}